.pagination-wrapper {margin-top: 48px;}

.pagination-wrapper .pagination{display: flex;flex-wrap: wrap;justify-content: center;}

.pagination-wrapper .pagination__list {display: flex;gap: 24px;background: #F7F7F7;border-radius: 40px;padding: 8px 16px;}

.pagination-wrapper .pagination__item {height: 40px;width: 40px;border-radius: 40px;color: #8F8F8F;font-weight: 600;font-size: 20px;text-decoration: none;}
.pagination-wrapper .pagination__item:not(.pagination__item-arrow){padding-top: 2px;}

.pagination-wrapper .pagination__item.pagination__item--current{background: #12946E;color: #FEFEFF;}

.pagination-wrapper .pagination__item--next .icon {margin-left: -0.2rem;transform: rotate(90deg);}
.pagination-wrapper .pagination__item--prev .icon {margin-right: -0.2rem;transform: rotate(-90deg);}


@media screen and (max-width: 768px) {
  .pagination-wrapper {margin-top: 40px;}

  .pagination-wrapper .pagination__item{font-size: 16px;}
}